<div class="homeFootBanner clearThis mc" style="width: 1250px;">
    <style type="text/css">
        .link_img{
            overflow: hidden;
            float: left;
            width: 165px;
            height: auto;
        }
    </style>
    <div style="width:1250px;height:120px" class="clearThis">
        <div class="left">
             <img src="http://182.92.192.250:8080/publicIndex/images/footerBanner_01.png" width="750px" height="120px" border="0px" alt="">
        </div>
        <div class="left">
                <img src="http://182.92.192.250:8080/publicIndex/images/footerBanner_02.jpg" width="499" height="120" border="0" alt="">
        </div>
    </div>
    <div class="clearThis">
        <link rel="stylesheet" href="http://182.92.192.250:8080/publicIndex/stylesheets/block/homeLink.css">
        <div class="clearThis homeLink">
            <div class="linkContent">
                <div class="topLink clearThis">
                    <div class="leftTitleContent left">
                        <div class="">
                            <img src="http://182.92.192.250:8080/publicIndex/images/link2.png">
                        </div>
                    </div>
                    <div class="rightLinkContent left">
                        <div class="prevS prev1 linkHoverButton linkMouse" style="display: none;">
                            <img src="http://182.92.192.250:8080/publicIndex/images/leftJiantou.png">
                        </div>
                        <div class="carousel" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 1020px;">

                            <ul>
                                <li class="link_img">
                                    <a href="http://www.chinawuliu.com.cn/" target="_blank" >
                                    <img src="http://182.92.192.250:8080/publicIndex/images/link/2.png" class="carouselImg" >
                                    </a>
                                </li>
                                <li class="link_img">
                                    <a href="http://www.tj56.com/" target="_blank">
                                        <img src="http://182.92.192.250:8080/publicIndex/images/link/1.png" class="carouselImg">
                                    </a>
                                </li>
                                <li class="link_img">
                                    <a href="http://www.tsia.com.cn/" target="_blank">
                                        <img src="http://182.92.192.250:8080/publicIndex/images/link/3.png" class="carouselImg">
                                    </a>
                                </li>
                                <li class="link_img">
                                    <a href="http://www.chinawuliu.com.cn/" target="_blank">
                                    <img src="http://182.92.192.250:8080/publicIndex/images/linkLogo/link3.png" class="carouselImg">
                                    </a>
                                </li>
                                <li class="link_img">
                                    <a href="https://www.alipay.com/" target="_blank">
                                    <img src="http://182.92.192.250:8080/publicIndex/images/linkLogo/link2.png" class="carouselImg">
                                    </a>
                                </li>
                                <li class="link_img" style="width:190px;">
                                    <a href="http://www.abchina.com/cn/" target="_blank">
                                    <img src="http://182.92.192.250:8080/publicIndex/images/linkLogo/link1.png" class="carouselImg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nextS linkHoverButton next1 linkMouse" style="display: none;">
                            <img src="http://182.92.192.250:8080/publicIndex/images/rightJiantou.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3" ></div>
    <div class="col-xs-6 c" style="margin-top: 10px;">
        <div class="footNav c">
            <a href="http://www.5656111.com/news/92#93" style="color:#000000;">关于我们</a> &nbsp;
            <a href="http://www.5656111.com:8080/index.php/Pro/" style="color: #000000;">货源历史</a>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
<div style="text-align:center" class="clearThis copy col-xs-12 m0 p0">版权所有：天津正易物通网络科技有限公司 津ICP备14006887号-1</div>