<div class="row m0 clearThis p0 c ">
    <div id="headContent"  ng-controller="topHeader">
        <div id="headTop" class="clearThis ">{//登录angular控制器}
            <div class="headTopSon clearThis">
                <div class="left topContentSuperMember">
                    <img src="/Public/Img/Member/block/member_top_icon_1.jpg">当前超级用户：<span>周小舟</span>
                    <div class="header_member_manger">子用户管理
                        <ul>
                            <volist name="subusers_arr" id="vo">
                                <li><span class="name">{$vo['name_true']}</span><span class="phone">{$vo['mt']}</span><i>></i></li>
                            </volist>
                            <img src="/Public/Img/Member/block/member_top_arrow2.jpg"/>
                        </ul>
                    </div>
                </div>
                <div class="left topContent linkMouse">
                    <img src="http://182.92.192.250:8080/publicIndex/header/imgs/dingbu_03.png" class="left">
                    <div href="http://wap.5656111.com:3001" class="left ">客服电话：</div>
                    <div style="font-weight:bolder" class="left">400-811-8311</div>
                    <div class="left ml10">|</div>
                    <img src="http://182.92.192.250:8080/publicIndex/header/imgs/dingbu_05.gif" class="left ml10">
                    <a href="http://qiao.baidu.com/v3/?module=default&amp;controller=im&amp;action=index&amp;ucid=7483065&amp;type=n&amp;siteid=5045540" target="_blank" class="left">
                        在线客服
                    </a>
                </div>
            </div>
        </div>
        <div id="headMid" style="margin-left: 300px;">
            <div id="logo" class="left linkMouse">
                <a href="/">
                    <img style="margin-top: -9px"  src="http://182.92.192.250:8080/publicIndex/header/imgs/logo.png">
                </a>
            </div>
            <div id="aboutGoods" class="left">
                <eq name="_SESSION['userData']['user_type']" value="2">
                <div icon="http://182.92.192.250:8080/publicIndex/header/imgs/sendGoods.png"
                     iconr="http://182.92.192.250:8080/publicIndex/header/imgs/sendGoodsR.png"
                     class="left goodsInfo linkMouse"><img
                        src="http://182.92.192.250:8080/publicIndex/header/imgs/sendGoods.png" class="left goodsImg">
                    <p class="left goodsFont" style="color: rgb(51, 51, 51); text-decoration: none;"><a
                            href="/Member/Goods/add_goods">发布货源</a></p></div>
                    </eq>
                <eq name="_SESSION['userData']['user_type']" value="1">
                <div icon="http://182.92.192.250:8080/publicIndex/header/imgs/findGoods.png"
                     iconr="http://182.92.192.250:8080/publicIndex/header/imgs/findGoodsR.png"
                     class="left goodsInfo linkMouse"><img
                        src="http://182.92.192.250:8080/publicIndex/header/imgs/findGoods.png" class="left goodsImg">
                    <p class="left goodsFont" style="color: rgb(51, 51, 51); text-decoration: none;"><a
                            href="/Member/Bid/index">寻找货源</a></p></div>
                    </eq>
            </div>
            <div id="appCode" class="left linkMouse" style="visibility: visible;"><img
                    src="http://182.92.192.250:8080/publicIndex/header/imgs/appCode.png"></div>
            <div id="navDownload" class="left">
                <div id="navWeixin" icon="http://182.92.192.250:8080/publicIndexnavWeixin.png"
                     iconr="http://182.92.192.250:8080/publicIndexnavApp.png" class="headerApp linkMouse"><img
                        src="http://182.92.192.250:8080/publicIndex/header/imgs/navWeixinG.png" class="left navImg">
                </div>
                <div id="navApp" class="headerApp linkMouse"><a href="http://www.5656111.com/news/12"><img
                        src="http://182.92.192.250:8080/publicIndex/header/imgs/navApp.png" class="left"></a></div>
            </div>
            <div id="loginInAlery" class="left">
                <div class="left">
                    <a href="/member/index">
                        <img style="margin-top: -6px"
                             src="http://182.92.192.250:8080/publicIndex/header/imgs/navMemberB.png"
                                ></a></div>
                <div style="width:110px" class="left" id="userData" userid="{$_SESSION['userData']['id']}" ip="{$_SESSION['userIp']}" city="{$_SESSION['defaultCity']}">
                    <div style="text-align: left;margin-top: 10px;margin-left: 5px" class="clearThis">
                        <div class="clearThis">欢迎您</div>
                        <div style="color: red;overflow-x:hidden">{$_SESSION['userData']['name']}</div>
                        <div class="clearThis">
                            <span class="linkMouse" ng-click="logOut()">退出</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="headNav" class="clearThis">
            <ul class="clearThis homeNavUl">
                <li class="homePage firstNav clearThis"><a href="/">首页</a></li>
                <li class="navRighrBorder clearThis"></li>
                <li class="firstNav clearThis memberNavThis"><a
                        href="http://city.5656111.com/Home/Policy">政策发布</a>
                    <!--<ul class="secondNav">-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon2R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon2.png"><a-->
                                <!--href="/news1920/78"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon2.png" class="navImg liImg">-->

                            <!--<p class="navFont">VIP特权</p></a></li>-->
                        <!--<li class="lineB"></li>-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon3R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon3.png"><a-->
                                <!--href="/member/item/xiYiWaitChe"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon3.png"-->
                                <!--class="navImg liImg"><span class="navFont">协议中心</span></a></li>-->
                        <!--<li class="lineB"></li>-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon4R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon4.png"><a-->
                                <!--href="/member/item/yaoQingCode"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon4.png"-->
                                <!--class="navImg liImg"><span class="navFont">账户中心</span></a></li>-->
                        <!--<li class="lineB"></li>-->
                    <!--</ul>-->
                </li>
                <li class="navRighrBorder"></li>
                <li class="firstNav aboutItem"><a href="http://www.5656111.com/index">干线物流</a>
                    <!--<ul class="secondNav">-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon6R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon6.png"><a href="http://www.5656111.com/news/7"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon6.png"-->
                                <!--class="navImg liImg"><span class="navFont">公司概述</span></a></li>-->
                        <!--<li class="lineB"></li>-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon7R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon7.png"><a-->
                                <!--href="http://www.5656111.com/articleList/107"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon7.png"-->
                                <!--class="navImg liImg"><span class="navFont">新闻公告</span></a></li>-->
                        <!--<li class="lineB"></li>-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon8R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon8.png"><a href="http://www.5656111.com/news/8"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon8.png"-->
                                <!--class="navImg liImg"><span class="navFont">企业视频</span></a></li>-->
                        <!--<li class="lineB"></li>-->
                    <!--</ul>-->
                </li>
                <li class="navRighrBorder"></li>
                <li class="firstNav"><a href="http://city.5656111.com">同城货运</a>
                    <ul class="secondNav">
                        <li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon10R.png"
                            icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon10.png"><a href="http://city.5656111.com"><img
                                src="http://182.92.192.250:8080/publicIndex/header/imgs/icon10.png" class="navImg liImg">

                            <p class="navFont">普货物流</p></a></li>
                        <li class="lineB"></li>
                        <li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon11R.png"
                            icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon11.png"><a href="http://cold.5656111.com"><img
                                src="http://182.92.192.250:8080/publicIndex/header/imgs/icon11.png" class="navImg liImg">

                            <p class="navFont">冷链物流</p></a></li>
                        <!--<li class="lineB"></li>-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon12R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon12.png"><a-->
                                <!--href="http://qiao.baidu.com/v3/?module=default&amp;controller=im&amp;action=index&amp;ucid=7483065&amp;type=n&amp;siteid=5045540"-->
                                <!--target="_blank"><img src="http://182.92.192.250:8080/publicIndex/header/imgs/icon12.png"-->
                                                     <!--class="navImg liImg">-->

                            <!--<p class="navFont">咨询建议</p></a></li>-->
                        <!--<li class="lineB"></li>-->
                    </ul>
                </li>
                <li class="navRighrBorder"></li>
                <li class="firstNav bbsItem"><a href="#">零担物流</a>
                    <!--<ul class="secondNav">-->
                        <!--<li iconr="http://182.92.192.250:8080/publicIndex/header/imgs/icon12R.png"-->
                            <!--icon="http://182.92.192.250:8080/publicIndex/header/imgs/icon12.png"><a-->
                                <!--href="http://www.5656111.com/Bbs/item/category/cid/103"><img-->
                                <!--src="http://182.92.192.250:8080/publicIndex/header/imgs/icon12.png" class="navImg liImg">-->

                            <!--<p class="navFont">公众点评</p></a></li>-->
                        <!--<li class="lineB"></li>-->
                    <!--</ul>-->
                </li>
                <li class="navRighrBorder"></li>
                <li class="firstNav newHuodongItem"><a href="http://www.5656111.com:8080/weixiu/view">维修联盟</a></li>
                <li class="navRighrBorder"></li>
                <li id="number" class="" >
                    <div class="left"><img src="http://182.92.192.250:8080/publicIndex/header/imgs/succeed.png"
                                           class="left"><span class="left ng-binding">成交：{{chengjiao1}}</span></div>
                    <div class="left"><img src="http://182.92.192.250:8080/publicIndex/header/imgs/memberNum.png"
                                           class="left"><span class="left ng-binding">会员：{{memberNum1}}</span></div>
                    <div class="left"><img src="http://182.92.192.250:8080/publicIndex/header/imgs/carNav.png"
                                           class="left"><span class="left ng-binding">在线车辆：{{onLineCarCount}}</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
