<div class="footer_container">
    <div class="w c" id="footer">
        <div class="count">
            <div class="box"><span class="number" data-startNumber="0" data-endNumber=1659"></span><br/>成交</div>
            <div class="box"><span class="number" data-startNumber="0" data-endNumber=333659"></span><br/>会员</div>
            <div class="box"><span class="number" data-startNumber="0" data-endNumber=1659"></span><br/>在线车辆</div>
            <div class="bg"></div>
        </div>
        <ul class="support">
            <li class="first"><a href="#">支持单位：</a></li>
            <li><a href="#">天津南开大学</a></li>
            <li><a href="#">中国农业银行</a></li>
            <li><a href="#">支付宝</a></li>
            <li><a href="#">中国物流与采购联合会</a></li>
            <li><a href="#">天津市现代物流协会</a></li>
            <li><a href="#">天津软件之窗</a></li>
            <li><a href="#">天津科技</a></li><br/>
            <li><a href="#"></a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系方式</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">服务流程</a></li>
            <li><a href="#">货源历史</a></li>

        </ul>
        <div class="copy_right">版权所有：天津正易物通网络科技有限公司 津ICP备14006887号-1</div>
    </div>
    <div class="footer_bg_red"></div>
</div>