{//网站导航}
<div class="nav_container">
    <div class="w c" id="nav">
        <ul>
            <li><a href="__WLB__">首页</a></li>
            <li><a href="__CITY__/Home/Policy">政策发布</a></li>
            <li><a href="__MATCH__">撮合交易</a></li>
            <li><a href="">城市货运</a>
                <div class="sub_nav">
                    <div class="iteam first"><a href="__CITY__">普通物流</a><div class="arrow"></div></div>
                    <div class="iteam last"><a href="__COLD__">冷链物流</a></div>
                </div>
            </li>
            <li><a>智慧物流</a></li>
            <li><a href="__FIX__">维修联盟</a></li>
        </ul>
    </div>
</div>