@charset "utf-8";
/* CSS Document */

.tiaozhuan-content { width:800px; height:250px; margin:0 auto; overflow:hidden; margin-top:100px;}
.tiaozhuan_left {width: 152px;height: 136px;float: left;margin-top: 50px;margin-right: 0;margin-bottom: 0;margin-left: 160px;}
.tiaozhuan_right { width:360px; height:75px; margin:80px 0 0 30px; float:left;}
.tiaozhuan_right_up{ width:340px; height:60px; font-family:"微软雅黑"; font-size:18px; line-height:35px; }
.tiaozhuan_right_down{ width:340px; height:20px; font-family:"微软雅黑"; font-size:13px; line-height:23px; padding-top:10px;}
.tiaozhuan_right_down a{ color: #005AA0; font-size: 15px;text-decoration: none;}


.stiaozhuan-content { width:666px; height:260px; margin:0 auto; overflow:hidden; margin-top:100px;margin-left: -100px;}
.stiaozhuan_left {width: 115px;height: 160px;float: left;margin-top: 50px;margin-right: 0;margin-bottom: 0;margin-left: 160px;}
.stiaozhuan_right { background:url(/Public/Img/Member/block/kuang_bosr.png) no-repeat; width:320px; height:170px; margin:50px 0 0 30px; float:left;}
.stiaozhuan_right_up{ width:305px; height:100px; font-family:"微软雅黑"; font-size:15px; line-height:25px; text-align:center; margin:75px 0 0 20px;;}


.etiaozhuan-content { width:666px; height:250px; margin:0 auto; overflow:hidden; margin-top:100px;}
.etiaozhuan_left {width: 84px;height: 126px;float: left;margin-top: 50px;margin-right: 0;margin-bottom: 0;margin-left: 20px;}
.etiaozhuan_right {  width:400px; height:126px; margin:60px 0 0 30px; float:left;}
.etiaozhuan_right_up{ width:480px; height:20px; font-family:"微软雅黑"; font-size:16px; line-height:10px; margin:10px 0 0 20px;;}
.etiaozhuan_right_mid { width:170px; height:22px; float:left; margin:10px 0 0 20px; }
.etiaozhuan_right_down { width:300px; float:left; margin:5px 0 0 20px; }
.etiaozhuan_right_down span { font-family:"微软雅黑"; font-size:18px; color:#0676b6;}