    .mt5{
        margin-top: 5px;
    }
    .ml23{
        margin-left: 23px;
    }
    .ml24{
        margin-left: 24px;
    }
    .w60{
        width: 60px;
    }
    .w100{
        width: 100px;
    }
    .ml20{
        margin-left: 20px;
    }
    .w30{
        width: 30px;
    }
    