@charset "utf-8";
/*----------------------------------------------css reset start---------------------------------------------------------------*/
/*
CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    font: 14px/1 "微软雅黑","宋体",Tahoma, Helvetica, Arial, "宋体", sans-serif;
    /*font: 12px/1 "微软雅黑","宋体",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; *//* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; cursor: pointer }
a:hover { text-decoration: none; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
/* 重置 i */
i{
    font-style:normal;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
/*清除浮动*/
.cf:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.cf{zoom:1}
/*----------------------------------------------css reset end---------------------------------------------------------------*/
/*----------------------------------------------框架布局样式 start------------------------------------------------------------*/
.w{
    width: 1176px;
}
.c{
    margin: 0 auto;
}
.nav_container{
    background-color: #fff;
}
#header{
    height: 76px;
}
.nav_container{
    background-color: #5c5c5c;
}
#nav{
    height: 52px;
}
.banner_container{
    background-color: #f7f7f7;
}
#banner{
    height: 300px;
}
.content_container{
    background-color: #f7f7f7;
}
#content{
    height: 1000px;
}
.footer_container{
    background-color: #3c3f47;
    position: relative;
}
#footer{
    height: 238px;
    position: relative;
}
/*----------------------------------------------框架布局样式 end------------------------------------------------------------*/
/*----------------------------------------------header样式（头部样式） start-------------------------------------------------*/
#header .logo{
    width: 160px;
    height: 76px;
    float: left;
    background: url("/Public/Img/Public/common_header__logo.jpg") no-repeat;
}
#header .logo a{
    width: 100%;
    height: 100%;
    display: block;
}
#header .right{
    height: 76px;
    line-height: 76px;
    float: right;
}
#header .right .logBox{
    display: inline-block;
}
#header .right .logBox a{
    font-weight: bold;
    padding: 0 10px;
}
#header .right .logBox a:hover{
    text-decoration: underline;
}
#header .right .button{
    display: inline-block;
    width: 116px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px 0 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #ffa507;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 1px 2px 0 #ae7613;
}
/*----------------------------------------------header样式（头部样式） end-------------------------------------------------*/
/*----------------------------------------------nav样式（导航样式） start--------------------------------------------------*/
#nav ul{
    height: 48px;
    line-height: 48px;
    margin: 2px 0;
    float: left;
}
#nav ul li{
    width: 194px;
    float: left;
    text-align: center;
    color: #e3e3e3;
    border-left:#1a1a1a 1px solid;
    border-right:#313131 1px solid;
}
/*#nav ul li:hover{
    background-color: #3d3d3d;
}*/
#nav ul li a{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
/*----------------------------------------------nav样式（导航样式） end----------------------------------------------------*/
/*----------------------------------------------footer样式（页脚样式） start-----------------------------------------------*/
.footer_container .footer_bg_red{
    height: 106px;
    width: 50%;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #e60012;
}
#footer .count{
    width: 1052px;
    height: 106px;
    margin: 0 62px;
    position: absolute;
    top: -30px;
    background-color: #e60012 ;
}
#footer .count .bg{
    width: 62px;
    height: 106px;
    background: url("/Public/Img/Public/member_footer_bg.png") no-repeat;
    position: absolute;
    right: -62px;
    top:0;
}
#footer .count .box{
    width: 188px;
    height: 68px;
    line-height: 32px;
    margin: 26px 80px 0;
    float: left;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
}
#footer .count .box .number{
    color: #ffffff;
    font-size: 33px;
    font-family: arial, helvetica, sans-serif;
}
#footer .support{
    width: 1088px;
    height: 72px;
    margin: 0 44px 10px;
    padding-top: 110px;
    text-align: center;
    font-size: 0;
    -webkit-text-size-adjust:none;
}
#footer .support li{
    width: 136px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    display: inline-block;
}
#footer .support li.first{
    text-align: center;
}
#footer a,#footer .copy_right{
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-size: 12px;
    font-family: "宋体";
}
#footer a:hover{
    text-decoration: underline;
}
#footer .copy_right{
    text-align: center;
}
/*----------------------------------------------footer样式（页脚样式） start-----------------------------------------------*/






















